<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Smart Necklace</h1>
			<p>Brought to you by the Cambridge Catalysts</p>
		</div>
		<h2>List of call logs</h2>
		<p><%= tagline %> The total price of all calls is <%= total %> USD </p>
		<h2>Logs</h2>

			<table class="table">
				<thead>
					<tr>
						<th>id</th>
						<th>call from</th>
						<th>call to</th>
						<th>date</th>
						<th>duration</th>
						<th>price</th>
					</tr>
				</thead>
				<tbody>
					<% calls.forEach(function(call) { %>
					<tr>
						<td><%= call.sid %></td>
						<td><%= call.from %></td>
						<td><%= call.to %></td>
						<td><%= call.start_time %></td>
						<td><%= call.duration %></td>
						<td><%= call.price ? Math.abs(call.price).toFixed(2) : 0 %> <%= call.price_unit %></</td>
					</tr>
					<% }); %>
				</tbody>
			</table>

	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>